
@keyframes slideIn {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

.container {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    width: 100%;
}

.logo img {
    height: 40px; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-left: 20px;
}

ul.header li:first-child {
    margin-left: 0; 
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.content {
    background-image: url('../src/pic/black-canyon-f1a1d991.jpg');
    color: white;
    padding: 20px;
    text-align: center;
    animation: slideIn 0.5s forwards;
    width: 100%;
}

.content h1 {
    margin-bottom: 10px;
    font-size: 36px;
}

.content p {
    margin-bottom: 20px;
}

.content button {
    padding: 10px 20px;
    background-color: #e8ede8; 
    border: none;
    color: rgb(18, 17, 17);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px; 
    transition-duration: 0.4s; 
}

.content button:hover {
    background-color: #535453; 
}


.background-container {
    background-image: url('../src/pic/dark-moonlight-night-forest-vector-nature-landscape_104785-1611.avif');
    background-size: cover;
    background-position: center;
    height: 300px; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .background-content {
    text-align: center;
    color: white;
    padding: 20px;
  }
  
  .background-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .background-content p {
    font-size: 16px;
  }

  .background-content-button {
    padding: 10px 20px;
    background-color: #e8ede8; 
    border: none;
    color: rgb(18, 17, 17);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px; 
    transition-duration: 0.4s; 
}

.background-content-button:hover {
    background-color: #535453; 
}

.background-container2 {
    background-image: url('../src/pic/HD-wallpaper-dark-forest-foggy-trees-fence-nature.jpg');
    background-size: cover;
    background-position: center;
    height: 300px; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .content1 {
    background-image: url('../src/pic/white-canyon-6c5d2a4c.jpg');
    color: rgb(23, 23, 23);
    padding: 20px;
    text-align: center;
    animation: slideIn 0.5s forwards;
    width: 100%;
}


.icon-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
  }
  
  .icon-item {
    text-align: center;
  }
  
  .icon-item img {
    width: 50px; 
    height: auto; 
  }
  
  .icon-item p {
    margin-top: 5px;
    font-size: 14px;
  }
  .content1 button {
    padding: 10px 20px;
    background-color: #a8ada8; 
    border: none;
    color: rgb(18, 17, 17);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px; 
    transition-duration: 0.4s; 
}

.content1 button:hover {
    background-color: #535453; 
}
.about.smaller-text {
    font-size: 10px; 
    font-family: 'Montserrat', sans-serif; 
  line-height: 1.5;
  color: #0b0101; 
  }

  

  